@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Regular.woff) format('woff2'),
    url(./fonts/Roboto-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Medium.woff2) format('woff2'),
    url(./fonts/Roboto-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url(./fonts/Roboto-Bold.woff2) format('woff2'),
    url(./fonts/Roboto-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #bfc8c1;
  font-family: 'Roboto', sans-serif;
}

#root {
  margin: 0 auto;
  max-width: 700px;
}
